nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  background-color: #1d1d1d;
  color: #e3e3e3;
  font-size: 14px;
}

nav .menu {
  list-style: none;
  padding-right: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
nav {
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
  color: #e3e3e3;
}

.signup {
  border-radius: 3px;
  background: #6c66ee;
  padding: 10px;
}
