.App {
  text-align: center;
}
.App-header {
  background-color: #3a3335;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f6e8ea;
}
