body {
  background-color: #3a3335;
  margin: 0;
  font-family: "Archivo Black", "Gothic A1", "Roboto", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
